/*********************
     GENERAL SETTINGS 
**********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200&display=swap');

:root{
  --blue:#246eb9;
  --orange: #ff6600;
  --light: #e6e6e6;
  --dark: #282828;
  --blue-trans: #246eb9AA;
  --orange-trans: #ff6600AA;
  --light-trans: #e6e6e6AA;
  --dark-trans: #000000DD;
}
body {
  font-family: "Kodchasan";
  /* overflow-x: hidden; */
  width: 100%;
}

body a {
  text-decoration: none;
}
.container-main{
  position: relative;
  width: 100%;
  /* height: 100%; */
  margin: auto;
  background-image: url(../img/Background_dark.jpg);
}

/*********************
     WELCOME SCREEN 
**********************/

.container-logolong{
  margin-left: 10px;
  padding-top: 10vh;
  width: 70%;
}
.container-logolong img{
  width: 100%;
}
/* .container-swipe{
  position: absolute;
  top: 60vh;
  right: -90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  color: var(--light);
  transform: rotate(90deg);
  visibility: hidden;
} */
/* .container-swipe p{
  display: inline;
  font-weight: 700;
  font-size: 2.00rem;
  margin: 0 0.5em;
}  */

/*********************
     SHOWCASE 
**********************/

.showcase-caption{
  background-color: var(--blue);
  color: var(--dark);
  text-align: center;
  letter-spacing: 0.3em;
  padding: 2em;
}
.showcase-caption h1{
  font-size: 5rem;
  letter-spacing: 0.3em;
  padding: 0;
}
.showcase{
  z-index: -1;
  visibility: visible;
}
.showcase img{
  width: 100%;
}

/*********************
     FOCUS BOXES 
**********************/

/* BOXOVERLAP ARTICLE */
/* GRID SETTINGS */
  article {
  width: 100%;
  margin: 10vh 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-auto-rows: 50vh, auto;
}
article h1{
  margin-bottom: 1em;
}
/* BOX SETTINGS */
  .box1 {
  background-color: var(--orange-trans);
  color: var(--light);
  margin-right: 8vh;
  grid-row: 1/4;
  grid-column: 4/8; 
  border-radius: 25px;
  border-top: 2px solid rgba(256, 256, 256, 0.4);
  border-left: 2px solid rgba(256, 256, 256, 0.4);
}
.box2 {
  background-color: var(--blue-trans);
  color: var(--light);
  margin-left: 8vh;
  grid-row: 3/6;
  grid-column: 1/5;
  border-radius: 25px;
  border-top: 2px solid rgba(256, 256, 256, 0.4);
  border-left: 2px solid rgba(256, 256, 256, 0.4);
}

/* BOX-TEXT SETTINGS */
.text-box1 {
  padding: 2vh;
  text-align: left;
  font-size: 1.5rem;
} 
.text-box2 {
  padding: 2vh;
  text-align: left;
  font-size: 1.5rem;
}

/* TITLE SETTINGS */
.title1 {
  grid-row: 1/2;
  grid-column: 1/4;
  align-self: end;
  justify-self: end;
  color: var(--light);
}
.title2 {
  grid-row: 5/6;
  grid-column: 5/8;
  align-self: top;
  justify-self: start;
  color: var(--light);
}
#indent{
  margin-left: 14em;
}
/*********************
     FOOTER 
**********************/
footer{
margin: 0;
}
footer img{
  display: block;
  width: 100%;
}
.text-footer h2{
  color: var(--light);
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2em;
}
.text-footer p{
  color:var(--light);
  text-align: center;
}

/*********************
     MEDIA QUERIES
**********************/

@media (max-width: 1100px) {

article {
      display:block;
      margin-top: 2vh;
}
/* TITLE SETTINGS */
.title1 {
  text-align: center;
  color: var(--light);
}
.title2 {
  text-align: center;
  margin-top: 2vh;
  color: var(--light);
}
#indent {
  margin-left: 0;
}
.box1, .box2{
  border-top: none;
  border-left: none;
}
}